@import "pindex";

$color-theme: #ff9b2b;
.related {
  font-size: 16px;
  font-weight: bold;
}

.previous_next_posts {
  font-size: 16px;
  color: #404040;
  font-weight: bold;
}

.blog_card {
  .ant-card-head {
    height: 70px;
    line-height: 40px;
  }
  .ant-card-body {
    * {
      max-width: 772px;
    }
    img {
      max-width: 772px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.blog {
  .ant-card-meta-avatar {
    height: 100px;
    width: 100px;
  }
  .ant-avatar.ant-avatar-circle.ant-avatar-image {
    width: 80px;
    height: 80px;
  }
}

.mima_list {
  .tab {
    display: flex;
    align-items: center;
    &:hover {
      box-shadow: 0 0 5px 3px #bbb;
      transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
  }
  .ant-list-item-meta-title {
    font-size: 20px;
  }
  .ant-list-item-content {
    font-size: 14px;
  }
  .ant-list-pagination {
    margin: 24px;
  }
}

.bt01 {
  width: 1200px;
  font-size: 36px;
  color: #333;
  text-align: center;
  line-height: 80px;
  overflow: hidden;
  letter-spacing: 4px;
  font-weight: normal;
  margin: 20px;
  font-family: Microsoft YaHei UI;
  & > a {
    color: #333;
    padding-bottom: 40px;
  }
  & > span {
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    letter-spacing: 18px;
  }
}

.mmcj {
  width: 1200px;
  border: 1px solid #e1e1e1;
  height: 535px;
  font-family: Microsoft YaHei UI;
  margin-bottom: 60px;
}

.mmcj dd {
  float: left;
  width: 599px;
  padding: 28px 0 0 24px;
}

.mmcj dd h2 {
  padding-top: 56px;
  line-height: 4px;
  font-weight: bold;
  font-size: 45px;
  color: #e1e1e2;
  font-family: Times New Roman;
  text-transform: uppercase;
  padding-bottom: 0;
  letter-spacing: 4px;
}

.mmcj dd h2 em {
  font-size: 18px;
  line-height: 80px;
  display: block;
  font-style: normal;
  font-weight: lighter;
  color: #000;
  font-family: Microsoft YaHei UI;
  padding-top: 12px;
}

.mmcj dd p {
  letter-spacing: 4px;
  color: #666;
  font-size: 14px;
  line-height: 30px;
}

.mmcj dt {
  float: right;
  padding-top: 0;
  margin-top: -16px;
  padding: 0;
  display: block;
}
.lx {
  letter-spacing: 4px;
  width: 1200px;
  height: 68px;
}

.lx p {
  letter-spacing: 4px;
  color: #666;
  font-size: 14px;
  line-height: 30px;
  font-family: Microsoft YaHei UI;
  width: 100%;
  height: 37px;
  float: left;
  padding-left: 40px;
}

.ewm {
  letter-spacing: 4px;
  width: 1200px;
  height: 213px;
  padding-left: 40px;
}

.ewm dd {
  letter-spacing: 4px;
  color: #666;
  font-size: 14px;
  line-height: 30px;
  font-family: Microsoft YaHei UI;
  width: 95px;
  height: 150px;
  float: left;
  padding-top: 70px;
}

.ewm dt {
  height: 200px;
  width: 200px;
  float: left;
  padding-top: 18px;
}

.mima_card {
  .ant-card {
    //
  }
  .ant-card-head-title {
    font-size: 20px;
    font-weight: bold;
  }
  .ant-card-body {
    //
  }
}

.mima_video {
  .slick-dots {
    bottom: -10px;
  }
}

.ant-carousel .slick-dots li button {
  background-color: #666;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: $color-theme;
}

a,
a:hover,
.ant-list-item-meta-title > a:hover,
.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > a:hover {
  color: $color-theme;
}
.ant-timeline-item-head-blue {
  color: $color-theme;
  border-color: $color-theme;
}
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-horizontal > .ant-menu-submenu:hover {
  border-bottom: 2px solid $color-theme;
  color: $color-theme;
}
.author_card {
  .ant-card-meta-avatar {
    height: 100px;
    width: 100px;
  }
  .ant-avatar.ant-avatar-circle.ant-avatar-image {
    height: 80px;
    width: 80px;
  }
  .ant-card-body {
    height: 180px;
    padding: 40px 0 0 30px;
  }
  .ant-card-actions {
    background-color: white;
  }
  .ant-card-actions > li > span {
    cursor: default;
  }
}

.AuthorDetailHeader {
  position: relative;
  top: -15px;
  background-color: #fffaed;
  height: 228px;
  .ant-card {
    display: flex;
    flex-direction: row;
  }
  .ant-card-body {
    width: 70%;
  }
  .ant-card-actions {
    border-top: none;
    background-color: transparent;
    width: 30%;
    position: relative;
    top: 150px;
    cursor: default;
  }
  .ant-card-meta-avatar {
    width: 140px;
    padding-top: 24px;
  }
  .ant-avatar.ant-avatar-circle.ant-avatar-image {
    width: 100%;
    height: 100%;
  }
  .ant-card-meta-detail {
    padding-top: 40px;
    & .ant-card-meta-title {
      font-size: 22px;
    }
    & .ant-card-meta-description {
      padding-top: 20px;
    }
  }
}

.AuthorHeader {
  background-color: #ffd778;
  padding-bottom: 30px;
  padding-top: 48px;
  position: relative;
  top: -17px;
  .ant-card {
    display: flex;
    flex-direction: row;
  }
  .ant-card-body {
    width: 70%;
  }
  .ant-card-actions {
    border-top: none;
    background-color: transparent;
    width: 30%;
    position: relative;
    top: 150px;
    cursor: default;
  }
  .ant-card-meta-avatar {
    width: 140px;
    padding-top: 24px;
  }
  .ant-avatar.ant-avatar-circle.ant-avatar-image {
    width: 100%;
    height: 100%;
  }
  .ant-card-meta-detail {
    padding-top: 40px;
    & .ant-card-meta-title {
      font-size: 22px;
    }
    & .ant-card-meta-description {
      padding-top: 20px;
    }
  }
}

.header_links {
  a {
    color: black!important; 
  }
  a:hover,
  a:active,
  a:focus {
    color: $color-theme;
    font-weight: bold;
  }
}

.market_table {
  .ant-table-thead tr th {
    background-color: #637a96;
    div {
      color: white;
    }
  }
  .ant-table-body {
    background-color: white;
  }
  .row_even {
    background-color: #e4e9f2;
  }
}