.layout {
  .ant-layout-header {
    background-color:transparent;
    height: auto;
    padding: 0;
    .header {
      height: 70px;
      margin-bottom: 20px;
      .logo {
        font-size: 20px;
        font-weight: 700;
        color: $color-white;
      }
      .ant-menu {
        background-color: transparent;
        border-bottom: none;
      }
      .ant-menu-item {
        font-size: 18px;
        color: #404040;
      }
    }
  }
  .ant-layout-content {
    margin: 0 auto;
  }
  .ant-layout-footer {
    padding: 0;
    ul {
      list-style-type: none;
      padding-left: 23px;
      li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .ant-card {
      background-color: transparent;
    }
    .ant-card-head {
      border: 0;
      background-color: transparent;
    }
    .ant-card-head-title {
      color: #e6e6e6;
      font-size: 16px;
    }
    .ant-card-body {
      color: #999999;
      font-size: 14px;
      line-height: 26px;
    }
  }
}
.vertical-center-modal {
  .login-form {
    max-width: 350px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}