.header {
  height: 70px;
  margin-bottom: 20px;
}
.header :global .ant-menu {
  background-color: transparent;
  border-bottom: none;
}
.header :global .ant-menu-item {
  font-size: 18px;
  color: #404040;
}
